__pycache__/
*.swp
.*.swp
.venv/
.ruff_cache/
.pytest_cache/
fmt/dxf
fmt/emf
fmt/eps
fmt/fxg
fmt/gpl
fmt/hpgl
fmt/html
fmt/odg
fmt/pdf
fmt/pov
fmt/ps
fmt/sif
fmt/svgz
fmt/tar
fmt/tex
fmt/wmf
fmt/xaml
fmt/xcf
fmt/zip
